* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #ff7900;
    box-shadow:  0 30px 50px #e900ff;
    background: url("https://images.pexels.com/photos/3178786/pexels-photo-3178786.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    background-size: cover;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: slateblue;

    background-size: cover;
}

h1 {
    font-size: 5rem;
    margin-bottom: 0.5em;
}

h2 {
    margin-top: 1em;
    font-size: 2rem;
    margin-bottom: 0.5em;
}

.play-area {
    display: grid;
    width: 300px;
    height: 300px;
    grid-template-columns: auto auto auto;
}

.block {
    display: flex;
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-weight: bold;
    border: 3px solid #9c09db;
    transition: background 0.2s ease-in-out;
}

.block:hover {
    cursor: pointer;
    background: #9c09db;
}

.occupied:hover {
    background: #ff3a96;
}

.win {
    background: #f3d50f;
}


#block_0,
#block_1,
#block_2 {
    border-top: none;
}

#block_0,
#block_3,
#block_6 {
    border-left: none;
}

#block_6,
#block_7,
#block_8 {
    border-bottom: none;
}

#block_2,
#block_5,
#block_8 {
    border-right: none;
}

button {
    outline: none;
    border: 4px solid #001580;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    background: none;
    transition: all 0.2s ease-in-out;
}

button:hover {
    cursor: pointer;
    background: #170080;
    color: white;
}

.playerWin {
    color: #ffff00;
}

.computerWin {
    color: #ffff00;
}

.draw {
    color: #ffff00;
}

@media only screen and (max-width: 600px) {

    h1 {
        font-size: 3rem;
        margin-bottom: 0.5em;
    }

    h2 {
        margin-top: 1em;
        font-size: 1.3rem;
    }
}